# Lab | Final regression model in "Health Care for All" Case
Instructions
At this point, we have created a model to predict who will make a donation and who won't. But, what about the ammount of money that each person will give? In this lab, subset those that made a donation and use that subset to create a model to predict how much money will they give.

Evaluate the result of your model and estimate how much better the result are for the bussiness in comparison with the naive scenario we discuss on Monday.

In [16]:
import pandas as pd


categorical = pd.read_csv('categorical.csv', index_col=0)
numerical = pd.read_csv('numerical.csv', index_col=0)
targets = pd.read_csv('Y.csv', index_col=0)

In [17]:
data = pd.concat([numerical, categorical], axis=1).reset_index(drop=True)

In [18]:
final_df = pd.concat([data, targets], axis=1).reset_index(drop=True)

In [19]:
final_df.head()

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,DOMAIN_B_1,DOMAIN_B_2,DOMAIN_B_3,DOMAIN_B_4,TARGET_B,TARGET_D
0,0.426523,0.000000,0.382286,0.608247,0.000000,1.000000,0.000000,0.000000,0.393939,0.343434,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0.0
1,0.784946,0.000014,0.535736,0.463918,0.857143,1.000000,0.066390,0.000000,0.151515,0.555556,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.0
2,0.498208,0.000014,0.000000,0.624862,0.428571,0.111111,0.008299,0.000000,0.202020,0.292929,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
3,0.283154,0.000000,0.288465,0.711340,0.142857,0.444444,0.008299,0.000000,0.232323,0.141414,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0
4,0.211470,0.000000,0.206076,0.793814,0.428571,0.222222,0.248963,0.010101,0.282828,0.090909,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0.0

In [20]:
columns_with_nan = final_df.columns[final_df.isnull().any()]
print(columns_with_nan)

Index([], dtype='object')

In [21]:
donation_subset = final_df[final_df['TARGET_D'].notnull()]

#We are selecting all rows from final_df where the 'TARGET_D' column is not null. 
#This means we are filtering only  where donations occurred.

In [22]:
X = donation_subset.drop('TARGET_D', axis=1)
y = donation_subset['TARGET_D']

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
#Evaluate the result of your model and estimate how much better the result are for the bussiness in comparison 
#with the naive scenario we discuss on Monday.

In [25]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("R-squared Score:", r2)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)

R-squared Score: 0.5958942257042893
Mean Squared Error: 8.326355332152708
Mean Absolute Error: 0.7286042208092609

In [26]:
accuracy = model.score(X_test, y_test)
accuracy

0.5958942257042893