In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt

import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
numerical = pd.read_csv(r"C:\Users\btdjf\Desktop\Ironhack 2\Lab Case Regression\lab-case-regression\numerical.csv")
targets = pd.read_csv(r"C:\Users\btdjf\Desktop\Ironhack 2\Lab Case Regression\lab-case-regression\target.csv")
categorical = pd.read_csv(r"C:\Users\btdjf\Desktop\Ironhack 2\Lab Case Regression\lab-case-regression\categorical.csv")

In [3]:
numerical

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,0,60.000000,5,9,0,0,39,34,18,10,...,14,5.0,12.0,10.0,4,7.741935,95515,0,4,39
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,10.0,25.0,25.0,18,15.666667,148535,0,2,1
2,1,61.611649,3,1,2,0,20,29,33,6,...,14,2.0,16.0,5.0,12,7.481481,15078,1,4,60
3,0,70.000000,1,4,2,0,23,14,31,3,...,7,2.0,11.0,10.0,9,6.812500,172556,1,4,41
4,0,78.000000,3,2,60,1,28,9,53,26,...,8,3.0,15.0,15.0,14,6.864865,7112,1,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,0,25.0,25.0,25.0,9,25.000000,184568,0,1,12
95408,1,48.000000,7,9,1,0,31,43,19,4,...,0,20.0,20.0,20.0,9,20.000000,122706,1,1,2
95409,1,60.000000,5,9,0,0,18,46,20,7,...,4,3.0,10.0,10.0,3,8.285714,189641,1,3,34
95410,0,58.000000,7,9,0,0,28,35,20,9,...,18,5.0,21.0,18.0,4,12.146341,4693,1,4,11
95411,2,80.000000,5,8,3,1,33,22,27,8,...,11,10.0,201.0,100.0,6,96.794872,185114,1,1,12

In [4]:
targets

       TARGET_B  TARGET_D
0             0       0.0
1             0       0.0
2             0       0.0
3             0       0.0
4             0       0.0
...         ...       ...
95407         0       0.0
95408         0       0.0
95409         0       0.0
95410         1      18.0
95411         0       0.0

[95412 rows x 2 columns]

In [5]:
categorical

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,DOB_YR,DOB_MM,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM
0,IL,36,H,F,3,L,E,C,T,2,...,37,12,92,8,94,2,95,12,89,11.0
1,CA,14,H,M,3,L,G,A,S,1,...,52,2,93,10,95,12,95,12,93,10.0
2,NC,43,U,M,3,L,E,C,R,2,...,0,2,91,11,92,7,95,12,90,1.0
3,CA,44,U,F,3,L,E,C,R,2,...,28,1,87,11,94,11,95,12,87,2.0
4,FL,16,H,F,3,L,F,A,S,2,...,20,1,93,10,96,1,96,1,79,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,H,M,3,L,G,C,C,2,...,0,2,96,2,96,2,96,2,96,2.0
95408,TX,24,H,M,3,L,F,A,C,1,...,50,1,96,3,96,3,96,3,96,3.0
95409,MI,30,H,M,3,L,E,B,C,3,...,38,1,96,3,95,1,96,10,94,10.0
95410,CA,24,H,F,2,L,F,A,C,1,...,40,5,90,11,96,8,97,1,86,12.0
95411,NC,24,U,F,3,L,G,C,C,1,...,18,1,88,12,93,12,96,12,88,3.0

In [6]:
df = pd.concat([numerical, categorical, targets], axis = 1)
df

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,92,8,94,2,95,12,89,11.0,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,93,10,95,12,95,12,93,10.0,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,91,11,92,7,95,12,90,1.0,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,87,11,94,11,95,12,87,2.0,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,93,10,96,1,96,1,79,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,96,2,96,2,96,2,96,2.0,0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,96,3,96,3,96,3,96,3.0,0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,96,3,95,1,96,10,94,10.0,0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12.0,1,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,88,12,93,12,96,12,88,3.0,0,0.0

In [8]:
df.drop_duplicates()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,92,8,94,2,95,12,89,11.0,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,93,10,95,12,95,12,93,10.0,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,91,11,92,7,95,12,90,1.0,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,87,11,94,11,95,12,87,2.0,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,93,10,96,1,96,1,79,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,96,2,96,2,96,2,96,2.0,0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,96,3,96,3,96,3,96,3.0,0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,96,3,95,1,96,10,94,10.0,0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12.0,1,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,88,12,93,12,96,12,88,3.0,0,0.0

In [9]:
df.isna().sum()

TCODE           0
AGE             0
INCOME          0
WEALTH1         0
HIT             0
               ..
LASTDATE_MM     0
FIRSTDATE_YR    0
FIRSTDATE_MM    2
TARGET_B        0
TARGET_D        0
Length: 339, dtype: int64

In [11]:
df = df.dropna()
df

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_YR,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,92,8,94,2,95,12,89,11.0,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,93,10,95,12,95,12,93,10.0,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,91,11,92,7,95,12,90,1.0,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,87,11,94,11,95,12,87,2.0,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,93,10,96,1,96,1,79,3.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1,61.611649,5,9,0,14,36,47,11,7,...,96,2,96,2,96,2,96,2.0,0,0.0
95408,1,48.000000,7,9,1,0,31,43,19,4,...,96,3,96,3,96,3,96,3.0,0,0.0
95409,1,60.000000,5,9,0,0,18,46,20,7,...,96,3,95,1,96,10,94,10.0,0,0.0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,90,11,96,8,97,1,86,12.0,1,18.0
95411,2,80.000000,5,8,3,1,33,22,27,8,...,88,12,93,12,96,12,88,3.0,0,0.0

In [13]:
X = df.drop(['TARGET_B', 'TARGET_D'], axis = 1)
Y_b = df['TARGET_B']
Y_d = df['TARGET_D']

In [15]:
numerical_X = X.select_dtypes('number').reset_index(drop = True)
categorical_X = X.select_dtypes('object').reset_index(drop = True)
categorical_X = categorical_X.drop(['STATE'], axis = 1)
categorical_X = pd.get_dummies(categorical_X[['HOMEOWNR', 'GENDER', 'RFA_2R', 'RFA_2A', 'GEOCODE2', 'DOMAIN_A']], dtype = int)

In [17]:
X = pd.concat([numerical_X, categorical_X], axis = 1)

In [18]:
X_train, X_test, Y_train_b, Y_test_b, Y_train_d, Y_test_d = train_test_split(X, Y_b,Y_d, test_size=0.2, random_state=0)

In [19]:
train = pd.concat([X_train.reset_index(drop=True), 
                   Y_train_b.reset_index(drop=True), 
                   Y_train_d.reset_index(drop=True)], axis=1)

In [20]:
X_train.reset_index(drop=True, inplace=True)
Y_train_b.reset_index(drop=True, inplace=True)

In [21]:
def significant_features(X, Y):
   
    model = sm.Logit(Y_train_b, X_train).fit()
    summary = model.summary()

    significant_features = []
    table = summary.tables[1]
    headers = table.data[0]
    data = table.data[1:]

    p_value_index = headers.index('P>|z|') if 'P>|z|' in headers else headers.index('P>|z| [0.025')

    for row in data:
        p_value = float(row[p_value_index])
        if p_value < 0.05:
            significant_features.append(row[0])

    return significant_features

relevant_features = significant_features(X_train, Y_train_b)
print("Independent variables with P>|t| < 0.05:", relevant_features)

Optimization terminated successfully.
         Current function value: 0.191885
         Iterations 12
Independent variables with P>|t| < 0.05: ['AGE', 'INCOME', 'AGE907', 'HHN3', 'HU1', 'HU3', 'HU4', 'ETHC2', 'RHP1', 'RHP2', 'DMA', 'IC11', 'TPE7', 'LFC2', 'LFC4', 'OCC6', 'EC1', 'SEC1', 'ANC10', 'ANC14', 'VOC3', 'CARDPROM', 'NUMPROM', 'NGIFTALL', 'CARDGIFT', 'RFA_2F', 'ODATEW_MM', 'DOB_MM', 'MINRDATE_YR', 'LASTDATE_YR', 'LASTDATE_MM', 'FIRSTDATE_YR']

In [25]:
X_train_adj = X_train[relevant_features]
X_test_adj = X_test[relevant_features]

model = LogisticRegression()
model.fit(X_train_adj, Y_train_b)

print(model.score(X_train_adj, Y_train_b))
print(model.score(X_test_adj, Y_test_b))

0.9497956189078713
0.9470181322712504

In [27]:
train = pd.concat([X_train_adj.reset_index(drop=True), 
                   Y_train_b.reset_index(drop=True), 
                   Y_train_d.reset_index(drop=True)], axis=1)
print(train['TARGET_B'].value_counts())

TARGET_B
0    72496
1     3832
Name: count, dtype: int64

In [28]:
from sklearn.utils import resample

assert not train['TARGET_D'].isnull().any(), "NaNs in original target_d"
category_0 = train[train['TARGET_B'] == 0]
category_1 = train[train['TARGET_B'] == 1]

# Undersample majority
category_0_undersampled = resample(category_0,
                                   replace=False, 
                                   n_samples=len(category_1),
                                   random_state=0)

# Combine undersampled and minority category
train_undersampled = pd.concat([category_0_undersampled, category_1], axis=0)

# Check for NaNs after concatenation
assert not train_undersampled['TARGET_D'].isnull().any(), "NaNs introduced during resampling"

# Separating the features and target variables
Y_train_undersampled_b = train_undersampled['TARGET_B']
Y_train_undersampled_d = train_undersampled['TARGET_D']
X_train_undersampled = train_undersampled.drop(['TARGET_B', 'TARGET_D'], axis=1)

print(train_undersampled['TARGET_B'].value_counts())

TARGET_B
0    3832
1    3832
Name: count, dtype: int64

In [29]:
model = LogisticRegression()
model.fit(X_train_undersampled, Y_train_undersampled_b)

print(model.score(X_train_undersampled, Y_train_undersampled_b))
print(model.score(X_test_adj, Y_test_b))

0.569937369519833
0.5752017608217168

In [30]:
predictions_target_b_train = model.predict(X_train_undersampled)

In [31]:
X_train_d = X_train_undersampled[predictions_target_b_train == 1]
Y_train_d = Y_train_undersampled_d[predictions_target_b_train == 1]

In [32]:
model_d = sm.OLS(Y_train_d, X_train_d).fit()
model_d.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               TARGET_D   R-squared (uncentered):                   0.367
Model:                            OLS   Adj. R-squared (uncentered):              0.362
Method:                 Least Squares   F-statistic:                              68.13
Date:                Sat, 03 Feb 2024   Prob (F-statistic):                        0.00
Time:                        16:06:02   Log-Likelihood:                         -14477.
No. Observations:                3794   AIC:                                  2.902e+04
Df Residuals:                    3762   BIC:                                  2.922e+04
Df Model:                          32
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
AGE             -0.0018      0.014     -0.131      0.895      -0.029       0.025
INCOME           0.4071      0.124      3.294      0.001       0.165       0.649
AGE907          -0.0779      0.061     -1.286      0.199      -0.197       0.041
HHN3            -0.0183      0.035     -0.529      0.597      -0.086       0.050
HU1              0.0051      0.017      0.307      0.759      -0.027       0.038
HU3             -0.0435      0.042     -1.027      0.304      -0.126       0.039
HU4             -0.0220      0.045     -0.494      0.621      -0.110       0.065
ETHC2            0.0200      0.024      0.828      0.408      -0.027       0.067
RHP1             0.0911      0.073      1.243      0.214      -0.053       0.235
RHP2            -0.0262      0.088     -0.298      0.766      -0.198       0.146
DMA              0.0052      0.002      2.590      0.010       0.001       0.009
IC11             0.0032      0.045      0.071      0.943      -0.085       0.092
TPE7            -0.2216      0.247     -0.896      0.370      -0.707       0.263
LFC2            -0.0027      0.061     -0.045      0.964      -0.122       0.116
LFC4             0.0325      0.057      0.568      0.570      -0.080       0.145
OCC6             0.5791      0.163      3.561      0.000       0.260       0.898
EC1              0.0259      0.023      1.147      0.252      -0.018       0.070
SEC1            -0.1708      0.084     -2.030      0.042      -0.336      -0.006
ANC10            0.0724      0.058      1.245      0.213      -0.042       0.186
ANC14           -0.3139      0.153     -2.052      0.040      -0.614      -0.014
VOC3            -0.0295      0.027     -1.108      0.268      -0.082       0.023
CARDPROM        -0.1928      0.075     -2.574      0.010      -0.340      -0.046
NUMPROM          0.0935      0.024      3.975      0.000       0.047       0.140
NGIFTALL        -0.0244      0.049     -0.502      0.616      -0.120       0.071
CARDGIFT        -0.0075      0.092     -0.081      0.935      -0.188       0.173
RFA_2F          -0.9311      0.179     -5.188      0.000      -1.283      -0.579
ODATEW_MM       -0.2436      0.707     -0.344      0.731      -1.631       1.143
DOB_MM           0.1280      0.056      2.280      0.023       0.018       0.238
MINRDATE_YR     -0.1075      0.091     -1.183      0.237      -0.286       0.071
LASTDATE_YR     -0.1008      0.136     -0.741      0.459      -0.368       0.166
LASTDATE_MM     -0.0290      0.046     -0.636      0.525      -0.118       0.060
FIRSTDATE_YR     0.2339      0.132      1.775      0.076      -0.024       0.492
==============================================================================
Omnibus:                     3504.509   Durbin-Watson:                   1.211
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           299174.227
Skew:                           4.106   Prob(JB):                         0.00
Kurtosis:                      45.721   Cond. No.                     3.02e+03
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 3.02e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [33]:
predictions_target_b_test = model.predict(X_test_adj)

# 2. Filter the data for donors
X_test_d = X_test_adj[predictions_target_b_test == 1]
Y_test_d = Y_test_d[predictions_target_b_test == 1]

In [34]:
predictions_target_d = model_d.predict(X_test_d)

In [35]:
mse = mean_squared_error(Y_test_d, predictions_target_d)
mae = mean_absolute_error(Y_test_d, predictions_target_d)
print("R2 value is = ",round(r2_score(Y_test_d, predictions_target_d),2))
print("The mse of the model is = ", round(mse,2))
print("The root mse of the model is = ",round(np.sqrt(mse),2))
print("The mean absolute error of the model is = ",round(mae,2))

R2 value is =  -2.52
The mse of the model is =  81.0
The root mse of the model is =  9.0
The mean absolute error of the model is =  8.12

In [37]:
sum_all = sum(predictions_target_d)
sum_all

66951.06012653146