In [33]:
# Import the required libraries and modules that you would need.

import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings("ignore")

from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

In [16]:
# Concatenate numerical and categorical back together again for your X dataframe. 
# Designate the Target as y.

numerical=pd.read_csv("learningSet_numerical_clean.csv")
categorical=pd.read_csv("learningSet_categorical_clean.csv")
target=pd.read_csv("learningSet_Y.csv")

In [17]:
df=pd.concat([numerical,categorical,target],axis=1)
df

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,HOMEOWNR,DATASRCE,RFA_2,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,TARGET_B,TARGET_D
0,8901,0,3712,60.000000,0.0,9.0,0,0,39,34,...,U,0,L4E,L,E,C,T,2,0,0.0
1,9401,1,5202,46.000000,6.0,9.0,16,0,15,55,...,H,3,L2G,L,G,A,S,1,0,0.0
2,9001,1,0,61.611649,3.0,1.0,2,0,20,29,...,U,3,L4E,L,E,C,R,2,0,0.0
3,8701,0,2801,70.000000,1.0,4.0,2,0,23,14,...,U,3,L4E,L,E,C,R,2,0,0.0
4,8601,0,2001,78.000000,3.0,2.0,60,1,28,9,...,H,3,L2F,L,F,A,S,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,61.611649,0.0,9.0,0,14,36,47,...,U,0,L1G,L,G,C,C,2,0,0.0
95408,9601,1,5001,48.000000,7.0,9.0,1,0,31,43,...,H,3,L1F,L,F,A,C,1,0,0.0
95409,9501,1,3801,60.000000,0.0,9.0,0,0,18,46,...,U,0,L3E,L,E,B,C,3,0,0.0
95410,8601,0,4005,58.000000,7.0,9.0,0,0,28,35,...,H,2,L4F,L,F,A,C,1,1,18.0
95411,8801,2,1801,80.000000,5.0,8.0,3,1,33,22,...,U,3,L1G,L,G,C,C,1,0,0.0

In [18]:
df2=df[df["TARGET_B"]==1].reset_index(drop=True)
df2

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,HOMEOWNR,DATASRCE,RFA_2,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,TARGET_B,TARGET_D
0,8701,2,3601,62.000000,3.0,8.0,10,2,25,40,...,H,3,L3D,L,D,A,S,1,1,4.0
1,9001,0,0,61.611649,0.0,9.0,0,1,37,58,...,U,0,L3D,L,D,A,T,1,1,7.0
2,8601,0,3110,66.000000,5.0,9.0,5,0,33,24,...,H,3,L3D,L,D,C,C,1,1,5.0
3,9001,0,2807,69.000000,6.0,9.0,0,0,34,20,...,H,2,L2F,L,F,A,S,1,1,13.0
4,9201,1,2410,73.000000,1.0,7.0,10,0,21,53,...,H,3,L3E,L,E,A,S,2,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,8601,2,5304,45.000000,0.0,9.0,0,0,45,28,...,U,0,L1F,L,F,A,T,2,1,20.0
4839,9401,0,4701,51.000000,5.0,6.0,1,1,32,43,...,H,3,L1F,L,F,B,S,1,1,15.0
4840,8601,0,1110,86.000000,0.0,9.0,0,1,32,21,...,U,0,L3G,L,G,B,S,1,1,3.0
4841,9001,0,4001,58.000000,4.0,9.0,0,0,24,46,...,H,2,L1F,L,F,D,R,2,1,10.0
4842,8601,0,4005,58.000000,7.0,9.0,0,0,28,35,...,H,2,L4F,L,F,A,C,1,1,18.0

In [19]:
df2=df2.drop(columns="TARGET_B")

In [20]:
y=df2["TARGET_D"]

#X
numerical=df2.drop(columns="TARGET_D").select_dtypes(np.number).reset_index(drop=True)
categorical=df2.drop(columns="TARGET_D").select_dtypes(object).reset_index(drop=True)

In [21]:
categorical

      STATE    ZIP HOMEOWNR RFA_2 RFA_2R RFA_2A GEOCODE2 DOMAIN_A
0     OTHER  55125        H   L3D      L      D        A        S
1        TX  77546        U   L3D      L      D        A        T
2     OTHER  52402        H   L3D      L      D        C        C
3        CA  92625        H   L2F      L      F        A        S
4        GA  30032        H   L3E      L      E        A        S
...     ...    ...      ...   ...    ...    ...      ...      ...
4838     CA  92284        U   L1F      L      F        A        T
4839     CA  95678        H   L1F      L      F        B        S
4840     WI  53223        U   L3G      L      G        B        S
4841  OTHER  55932        H   L1F      L      F        D        R
4842     CA  91320        H   L4F      L      F        A        C

[4843 rows x 8 columns]

In [22]:
# Scale the features either by using normalizer or a standard scaler.

scaler = MinMaxScaler()

for col in numerical.columns:
    numerical[col] = scaler.fit_transform(numerical[[col]])

numerical

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,FISTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,CLUSTER,DATASRCE,DOMAIN_B
0,0.090909,0.000051,0.386788,0.617021,0.428571,0.888889,0.041667,0.020833,0.316456,0.404040,...,0.569040,0.155844,0.004033,0.432457,1.0,0.666667,0.032787,0.211538,1.000000,0.000000
1,0.363636,0.000000,0.000000,0.612890,0.000000,1.000000,0.000000,0.010417,0.468354,0.585859,...,0.713808,0.116883,0.008757,0.992355,1.0,0.666667,0.213115,0.653846,0.000000,0.000000
2,0.000000,0.000000,0.334049,0.659574,0.714286,1.000000,0.020833,0.000000,0.417722,0.242424,...,0.570473,0.038961,0.005799,0.399302,1.0,0.666667,0.163934,0.442308,1.000000,0.000000
3,0.363636,0.000000,0.301504,0.691489,0.857143,1.000000,0.000000,0.000000,0.430380,0.202020,...,0.712375,0.272727,0.019518,0.815396,0.0,0.333333,0.016393,0.230769,0.666667,0.000000
4,0.545455,0.000026,0.258861,0.734043,0.142857,0.777778,0.041667,0.000000,0.265823,0.535354,...,0.811753,0.077922,0.015945,0.133647,1.0,0.666667,0.344262,0.326923,1.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,0.000000,0.000051,0.569710,0.436170,0.000000,1.000000,0.000000,0.000000,0.569620,0.282828,...,0.524606,0.090909,0.012674,0.805832,0.0,0.000000,0.836066,0.673077,0.000000,0.333333
4839,0.727273,0.000000,0.504941,0.500000,0.714286,0.666667,0.004167,0.010417,0.405063,0.434343,...,0.860010,0.051948,0.021007,0.893219,1.0,0.000000,0.311475,0.211538,1.000000,0.000000
4840,0.000000,0.000000,0.119227,0.872340,0.000000,1.000000,0.000000,0.010417,0.405063,0.212121,...,0.573817,0.194805,0.027112,0.411014,0.0,0.666667,0.032787,0.192308,0.000000,0.000000
4841,0.363636,0.000000,0.429753,0.574468,0.571429,1.000000,0.000000,0.000000,0.303797,0.464646,...,0.713330,0.129870,0.020821,0.441505,0.0,0.000000,0.901639,0.923077,0.666667,0.333333
4842,0.000000,0.000000,0.430183,0.574468,1.000000,1.000000,0.000000,0.000000,0.354430,0.353535,...,0.526517,0.051948,0.022079,0.024410,1.0,1.000000,0.163934,0.442308,0.666667,0.000000

In [23]:
categorical=categorical.drop(columns="ZIP")

one_hot_names = []
for col in categorical.columns:
    col_uniques = sorted(categorical[col].astype(str).unique())
    for unique in col_uniques:
        one_hot_names.append(col+"_"+unique)
        
categorical = pd.DataFrame(OneHotEncoder().fit_transform(categorical.astype(str)).toarray())
categorical.columns = one_hot_names
categorical

,STATE_CA,STATE_FL,STATE_GA,STATE_IL,STATE_IN,STATE_MI,STATE_MO,STATE_NC,STATE_OTHER,STATE_TX,...,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,GEOCODE2_U,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4839,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4842,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [24]:
X=pd.DataFrame(np.concatenate((numerical,categorical),axis=1)).reset_index(drop=True)
X.columns = list(numerical.columns) + list(categorical.columns)
X

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,GEOCODE2_A,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,GEOCODE2_U,DOMAIN_A_C,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.090909,0.000051,0.386788,0.617021,0.428571,0.888889,0.041667,0.020833,0.316456,0.404040,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.363636,0.000000,0.000000,0.612890,0.000000,1.000000,0.000000,0.010417,0.468354,0.585859,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000000,0.000000,0.334049,0.659574,0.714286,1.000000,0.020833,0.000000,0.417722,0.242424,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.363636,0.000000,0.301504,0.691489,0.857143,1.000000,0.000000,0.000000,0.430380,0.202020,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.545455,0.000026,0.258861,0.734043,0.142857,0.777778,0.041667,0.000000,0.265823,0.535354,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,0.000000,0.000051,0.569710,0.436170,0.000000,1.000000,0.000000,0.000000,0.569620,0.282828,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4839,0.727273,0.000000,0.504941,0.500000,0.714286,0.666667,0.004167,0.010417,0.405063,0.434343,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4840,0.000000,0.000000,0.119227,0.872340,0.000000,1.000000,0.000000,0.010417,0.405063,0.212121,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4841,0.363636,0.000000,0.429753,0.574468,0.571429,1.000000,0.000000,0.000000,0.303797,0.464646,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4842,0.000000,0.000000,0.430183,0.574468,1.000000,1.000000,0.000000,0.000000,0.354430,0.353535,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [34]:
## apply train-test split and linear regression model

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
r2

0.5803087551855799