In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import Normalizer
import warnings
warnings.filterwarnings('ignore')

In [2]:
numerical = pd.read_csv('numerical.csv')
numerical = numerical.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
categorical = pd.read_csv('categorical.csv')
categorical = categorical.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
targets = pd.read_csv('target.csv')
targets = targets.drop(columns=['Unnamed: 0'])

In [3]:
data = pd.concat([numerical, categorical, targets], axis = 1)
data

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,CLUSTER,HOMEOWNR,DATASRCE,RFA_2,RFA_2R,GEOCODE2,DOMAIN_A,DOMAIN_B,TARGET_B,TARGET_D
0,8901,0,3712,60.000000,0.0,9.0,0,0,39,34,...,36,U,1,L4E,L,C,T,2,0,0.0
1,9401,1,5202,46.000000,6.0,9.0,16,0,15,55,...,14,H,3,L2G,L,A,S,1,0,0.0
2,9001,1,0,61.611649,3.0,1.0,2,0,20,29,...,43,U,3,L4E,L,C,R,2,0,0.0
3,8701,0,2801,70.000000,1.0,4.0,2,0,23,14,...,44,U,3,L4E,L,C,R,2,0,0.0
4,8601,0,2001,78.000000,3.0,2.0,60,1,28,9,...,16,H,3,L2F,L,A,S,2,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,61.611649,0.0,9.0,0,14,36,47,...,27,U,1,L1G,L,C,C,2,0,0.0
95408,9601,1,5001,48.000000,7.0,9.0,1,0,31,43,...,24,H,3,L1F,L,A,C,1,0,0.0
95409,9501,1,3801,60.000000,0.0,9.0,0,0,18,46,...,30,U,1,L3E,L,B,C,3,0,0.0
95410,8601,0,4005,58.000000,7.0,9.0,0,0,28,35,...,24,H,2,L4F,L,A,C,1,1,18.0
95411,8801,2,1801,80.000000,5.0,8.0,3,1,33,22,...,24,U,3,L1G,L,C,C,1,0,0.0

In [18]:
data2 = data[data["TARGET_B"]==1].reset_index(drop=True)
data2

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,...,CLUSTER,HOMEOWNR,DATASRCE,RFA_2,RFA_2R,GEOCODE2,DOMAIN_A,DOMAIN_B,TARGET_B,TARGET_D
0,8701,2,3601,62.000000,3.0,8.0,10,2,25,40,...,12,H,3,L3D,L,A,S,1,1,4.0
1,9001,0,0,61.611649,0.0,9.0,0,1,37,58,...,35,U,1,L3D,L,A,T,1,1,7.0
2,8601,0,3110,66.000000,5.0,9.0,5,0,33,24,...,24,H,3,L3D,L,C,C,1,1,5.0
3,9001,0,2807,69.000000,6.0,9.0,0,0,34,20,...,13,H,2,L2F,L,A,S,1,1,13.0
4,9201,1,2410,73.000000,1.0,7.0,10,0,21,53,...,18,H,3,L3E,L,A,S,2,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,8601,2,5304,45.000000,0.0,9.0,0,0,45,28,...,36,U,1,L1F,L,A,T,2,1,20.0
4839,9401,0,4701,51.000000,5.0,6.0,1,1,32,43,...,12,H,3,L1F,L,B,S,1,1,15.0
4840,8601,0,1110,86.000000,0.0,9.0,0,1,32,21,...,11,U,1,L3G,L,B,S,1,1,3.0
4841,9001,0,4001,58.000000,4.0,9.0,0,0,24,46,...,49,H,2,L1F,L,D,R,2,1,10.0
4842,8601,0,4005,58.000000,7.0,9.0,0,0,28,35,...,24,H,2,L4F,L,A,C,1,1,18.0

In [19]:
data2 = data2.drop(columns="TARGET_B")
y = data2["TARGET_D"]

In [21]:
numerical = data2.drop(columns = "TARGET_D").select_dtypes(np.number).reset_index(drop=True)
transformer = Normalizer().fit(numerical)
numerical_normalized = transformer.transform(numerical)
numerical = pd.DataFrame(numerical_normalized)
numerical

,0,1,2,3,4,5,6,7,8,9,...,314,315,316,317,318,319,320,321,322,323
0,0.098812,0.000023,0.040894,0.000704,0.000034,0.000091,0.000114,0.000023,0.000284,0.000454,...,0.098812,0.000136,0.000046,0.941936,0.000011,0.000034,0.000034,0.000136,0.000034,0.000011
1,0.046765,0.000000,0.000000,0.000320,0.000000,0.000047,0.000000,0.000005,0.000192,0.000301,...,0.046780,0.000047,0.000032,0.988770,0.000005,0.000016,0.000073,0.000182,0.000005,0.000005
2,0.102932,0.000000,0.037219,0.000790,0.000060,0.000108,0.000060,0.000000,0.000395,0.000287,...,0.104165,0.000036,0.000058,0.916529,0.000012,0.000036,0.000132,0.000287,0.000036,0.000012
3,0.053968,0.000000,0.016830,0.000414,0.000036,0.000054,0.000000,0.000000,0.000204,0.000120,...,0.053968,0.000126,0.000066,0.937607,0.000000,0.000012,0.000012,0.000078,0.000012,0.000006
4,0.259017,0.000028,0.067844,0.002055,0.000028,0.000197,0.000282,0.000000,0.000591,0.001492,...,0.259242,0.000169,0.000265,0.721818,0.000028,0.000084,0.000619,0.000507,0.000084,0.000056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,0.054917,0.000013,0.033866,0.000287,0.000000,0.000057,0.000000,0.000000,0.000287,0.000179,...,0.054962,0.000045,0.000051,0.986763,0.000000,0.000006,0.000332,0.000230,0.000006,0.000013
4839,0.054049,0.000000,0.027027,0.000293,0.000029,0.000034,0.000006,0.000006,0.000184,0.000247,...,0.053525,0.000023,0.000067,0.984855,0.000006,0.000006,0.000115,0.000069,0.000017,0.000006
4840,0.102260,0.000000,0.013197,0.001022,0.000000,0.000107,0.000000,0.000012,0.000380,0.000250,...,0.103568,0.000178,0.000171,0.937244,0.000000,0.000036,0.000036,0.000131,0.000012,0.000012
4841,0.102323,0.000000,0.045483,0.000659,0.000045,0.000102,0.000000,0.000000,0.000273,0.000523,...,0.102345,0.000114,0.000132,0.962611,0.000000,0.000011,0.000637,0.000557,0.000023,0.000023
4842,0.303596,0.000000,0.141368,0.002047,0.000247,0.000318,0.000000,0.000000,0.000988,0.001235,...,0.303984,0.000141,0.000429,0.165652,0.000035,0.000141,0.000388,0.000847,0.000071,0.000035

In [22]:
categorical = data2.drop(columns = "TARGET_D").select_dtypes(object).reset_index(drop=True)
categorical = categorical.drop(columns="ZIP")

encoder = OneHotEncoder().fit(categorical)
categorical = pd.DataFrame(encoder.transform(categorical).toarray())
categorical

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4839,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4842,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [23]:
X = pd.DataFrame(np.concatenate((numerical,categorical),axis=1)).reset_index(drop=True)
X.columns = list(numerical.columns) + list(categorical.columns)
X

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.098812,0.000023,0.040894,0.000704,0.000034,0.000091,0.000114,0.000023,0.000284,0.000454,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.046765,0.000000,0.000000,0.000320,0.000000,0.000047,0.000000,0.000005,0.000192,0.000301,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.102932,0.000000,0.037219,0.000790,0.000060,0.000108,0.000060,0.000000,0.000395,0.000287,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.053968,0.000000,0.016830,0.000414,0.000036,0.000054,0.000000,0.000000,0.000204,0.000120,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.259017,0.000028,0.067844,0.002055,0.000028,0.000197,0.000282,0.000000,0.000591,0.001492,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,0.054917,0.000013,0.033866,0.000287,0.000000,0.000057,0.000000,0.000000,0.000287,0.000179,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4839,0.054049,0.000000,0.027027,0.000293,0.000029,0.000034,0.000006,0.000006,0.000184,0.000247,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4840,0.102260,0.000000,0.013197,0.001022,0.000000,0.000107,0.000000,0.000012,0.000380,0.000250,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4841,0.102323,0.000000,0.045483,0.000659,0.000045,0.000102,0.000000,0.000000,0.000273,0.000523,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4842,0.303596,0.000000,0.141368,0.002047,0.000247,0.000318,0.000000,0.000000,0.000988,0.001235,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2_score = r2_score(y_test, y_pred)
r2_score

0.3824707076282672